* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Grid principal */
.main_grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 5 colunas iguais */
    grid-template-rows: repeat(6, 1fr);    /* 6 linhas iguais */
    gap: 20px;                             /* Espaçamento entre os itens da grid */
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

/* Estilo do logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2424;
    color: #c3b89b;
    font-size: 2em;
    grid-column: 1 / 3; /* Logo ocupa a primeira coluna */
    grid-row: 1 / 2;    /* Logo ocupa a primeira linha */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Página principal */
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2424;
    color: #c3b89b;
    font-size: 5em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    grid-column: 3 / span 10; /* Ocupa colunas 3 a 5 */
    grid-row: 1 / 2;         /* Ocupa a primeira linha */
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 9px;
    padding: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-column: 1 / 3;
    transition: grid-row 0.3s ease;
}

.visible {
    grid-row: 2 / 7;
}

.hidden {
    height: 30px;
    grid-row: 2;
}

.navbar_item {
    background-color: #f9f9f9;
    width: 230px; /* Defina uma largura fixa */
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.navbar_item h1 {
    font-size: 1.2em;
    color: #333;
}

.navbar_item a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button {
    align-items: center;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 10px;
}